.navbar {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-img {

  background-color: #F9F9F9;
  height: 60px;
  width: 150px;
  
}

.buttons-container {

  background-color: #F9F9F9;
height: 70px;
width: 600px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;


}

.button-nav {

  background-color: #F9F9F9;
  height: 30px;
  width: 100px;
  border-style: none;
  color: black;
  font-size: 15px;
  font-weight: 500px; 

}

.button-nav:hover {
  color: #b90512;
  transition: 1s;
  font-size: 20px;
  cursor: pointer;
  

}


.button-contact {
  background-color: #F9F9F9;
  height: 40px;
  width: 120px;
  border-radius: 30px;
  color: black;
  font-size: 15px;
  font-weight: 700;



}
.button-contact:hover {

  color: white;
  background-color: #b90512;
  transition: 1s;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  border-style: none;
  

}

.initial-banner {
  background-color: #b90512;
  display: flex;
    flex-direction:row;
    height: 600px;
    padding-left: 60px;
    
    

    
}
 
 .banner-left {

width: 50vw;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
 }

.banner-left h2 {
color: white;
font-size: 42px;
line-height: 1.5;
font-weight: 700;

}

.banner-left p {
color: white;


}

.banner-left button {
background-color: white;
height: 40px;
width: 170px;
border-radius: 30px;
color: black;
font-size: 15px;
font-weight: 700;
border-style: none;
transition: 1s; 
}

.banner-left button:hover {
transition: 1s;
font-size: 20px;
cursor: pointer;
width: 200px;
}

.banner-right {
  
  width: 50vw;
}

.banner-right img {
  height: 600px;
}

.banner-jornada {
 
  height: 600px;
 
  

}
.banner-jornada-section-title {
height: 300px;
display: flex;
align-items: center;
justify-content: center;



}
.banner-jornada-section-title h2 {
font-size: 40px; 
line-height: 1.0; 
font-weight: 700; 



}

.banner-pai {
  background-color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 300px;
  

}
.banner-filho1 {
background-color: chartreuse;
height: 300px;
width: 400px;

}
.banner-neto {
  background-color: #b90512;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;


}

.banner-neto img {
width: 30px;
height: 30px;


}

.banner-descricao {
background-color: blue; 


}
.banner-filho2 {
  background-color: chartreuse;
  height: 300px;
  width: 400px;
  
  }

  .banner-filho3 {
    background-color: chartreuse;
    height: 300px;
    width: 400px;
    
    }